body {
    font-family: Arial, sans-serif;
    max-width: 700px;
    margin: auto;
    line-height: 1.5;
    background-color: #fcfcfc;
}
h1 {
    margin-top: 1em;
}
h2 {
    margin-top: 2em;
}
header {
    text-align: center;
    background-color: #b2cecf;
    margin-bottom: 20px;
}
header h1 {
    margin-bottom: .75em;
}
header h3 {
    margin-top: 1px;
}
footer {
    text-align: center;
    background-color: #b6e2d2;
    margin-top: 50px;
}
a {
    text-decoration: none;
}
a {
    color: #003666;
}
a:visited {
    color: #603676;
}
a:hover {
    color: #4076a6;
}
th, td {
    padding: 6px 8px 6px 8px;
}
th {
    text-align: left;
}
img {
    max-width: 100%;
}
button {
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0, 0, 0, .8);
    border: 1px solid #999;
    border: transparent;
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
}
button:focus, button:hover {
    filter: alpha(opacity=90);
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1))
}
.side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.side-by-side img {
    width: 150px;
    height: 75px;
}
.card {
    margin: .5rem 0 1rem 0;
    padding: 24px;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}
header, footer, .card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
