body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    line-height: 1.5;
}
h1 {
    margin-top: 1em;
}
h2 {
    margin-top: 2em;
}
header {
    text-align: center;
    background-color: #b2cecf;
}
header h1 {
    margin-bottom: 4px;
}
header h3 {
    margin-top: 1px;
}
footer {
    text-align: center;
    background-color: #b6e2d2;
}
a {
    text-decoration: none;
}
a {
    color: #003666;
}
a:visited {
    color: #603676;
}
a:hover {
    color: #4076a6;
}
th, td {
    padding: 6px 8px 6px 8px;
}
th {
    text-align: left;
}
img {
    max-width: 100%;
}
.side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.side-by-side img {
    width: 150px;
    height: 75px;
}
